@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root{
    --black:
    #1A1A1A;
    --grey:
    #202020;
    --light-grey:
    #d8d8d8;
    --gradient: 
    #ced9ed,#cfc7fa,#e2c6ee,#efc8dd,#d7e9db;
    --containerWidth: 7vw;
}
html{
    scroll-behavior: smooth; /* Scroll Suave*/
}
html,*,body{
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    color: white;
    list-style: none;
}
body{
    background-color: #1A1A1A;
}

/* Geral */
.container{
    background-color: var(--grey);
    padding-left: var(--containerWidth);
    padding-right: var(--containerWidth);
}
button{
    color: white;
    text-decoration: none;
    border: none;
    background: none;
}

h1{
    font-family: 'Georgia', serif;
    font-size: 6rem;
    margin-bottom: 0.3em;

    background-image: linear-gradient(75deg, var(--gradient));
  /*Background-Clip: text -> Define o limite de onde a cor/imagem vai ir do item (no caso, somente o texto). */
    -webkit-background-clip: text;
    background-clip: text;
    color: transparent;
}

h2{
    font-family: 'Georgia', serif;
    font-size: 3em;
}
p{
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    font-size: 1rem;
}

/*Cada Seção é uma Page*/
.page{
    padding-top: 1em;
    min-height: 90vh;
    max-width: 100%;
    background-color: var(--grey);
}

/* Barra Navegação*/
#mobile-nav{
    display: none;
}
nav{
    width: 100%;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 10vh;

    background-color: var(--black);
    color: white;

    display: flex;
    align-items: center;
    justify-content: space-between;
}
nav > div{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav img{
    filter: invert(1);
}
nav ul{
    font-family: 'NewsGoth Lt BT';
    font-size: 1.5rem;
    display: flex;
    gap: 3em;
}
nav .logo-items{
    gap: 4em;
    width: 70%;
    justify-content: flex-start;
}
nav #language{
    font-size: 1.3rem;
}
nav i{
    margin-left: 1em;
}

/*Linha Gradiente Horizontal */
hr{
    border: none;
    height: 0.4em;
    width: 100%;
    background-image: linear-gradient(45deg, var(--gradient));
}
#top-gradient-bar{
    height: 3vh;
    max-height: 7vh;
}
/* Page Sobre*/
#first-page{
    height: 60vh;
}
#about{
    height: 100%;
}
#about .profile{
    margin-top: 5em;

    display: flex;

    justify-content: center;
    align-items: center;
}
#about img{
    min-width: 20vh;
    width: 30em;
    margin-right: 3em;
}
#about h1{
    color: white;
    min-width: 20vh;
    font-size: 6rem;
}
#about p{
    min-width: 20vh;
    font-size: 1.5em;
}

/* Ferramentas Page */
#tools-page{
    background-color: var(--black);
}
.tools{
    width: 90%;

    display: grid;
    grid-template-columns: repeat(3, 1fr);

    gap: 5rem;
}
.tools .titles-class{
    margin-top: 1em;
    font-weight: 300;
}
.tools .tools-image-name-description{
    display: flex;
    margin-top: 3rem;
    margin-bottom: 4vh;
}
.name-description > p{
    font-family: 'NewsGoth Lt BT';
    font-weight: bold;
    font-size: 1.3rem;

}
.tools .tools-image-name-description .name-description .description-items{
    font-weight: normal;
    font-size: 1.3rem;
    margin-top: 1rem;
}
.tools img{
    margin-right: 1vw;
    width: 5em;
}


/*Contato Pagina*/
#contact-page{
    height: 100%;
    padding: 0 6vw;
}
.box-contact{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, auto));/* Repita Para Box ocupar largura máxima  */ 
    gap: 5vh;
}
#contact-page .box-contact h3{
    font-family: 'Georgia', serif;
    font-size: 2em;
    margin: .2em 0;
}
#contact-page .contacts-social-midias .socialmidias-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    
    padding: 4em 0;
    height: 100%;
}
#contact-page .contacts-social-midias .email-phone p{
    gap: 1em;

    margin-top: 1em;
    display: flex;
    align-items: center;

    font-size: 1.2rem;
    font-weight: 100;
    color: var(--light-grey);
}

#contact-page .contacts-social-midias .socialmidias-box{
    margin-top: 1em;

    display: flex;
    align-items: center;
}
#contact-page .contacts-social-midias .socialmidias-box img{
    filter: invert(1);

    margin-right: 2em;
    width: 50px;    
}
#contact-page .email-box{
    max-width: 800px;
    padding: 2em;
    background-color: var(--light-grey)
}

#contact-page .email-box h2,
#contact-page .email-box p{
    color: black;
}

#contact-page .email-box h2{
    margin-bottom: .7em;
}
#contact-page .email-box form{
    display: grid;
    gap: .5em;
}

#contact-page .email-box form input{
    min-height: 45px;
    max-height: 1vh;
}

#contact-page .email-box form textarea{
    height: 300px;
    max-height: 20vh;
}
#contact-page .email-box form button{
    min-width: 100px;
    width: 25%;
    height: 50px;
    margin-right: 1.5em;

    justify-self: end;

    font-size: 1.2rem;
    font-weight: 600;
    
    color: black;
    background-image: linear-gradient(45deg, var(--gradient));
    border: 5px solid var(--black);
    box-shadow: 10px 10px var(--black);
}

#contact-page .email-box form button:active{
    transform: translateX(30px);
    filter: invert(1);
}